.modal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.6)
}

.modal__content {
	width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	background-color: #fff;

}

.modal__header,
.modal__body,
.modal__footer {
	padding: 30px;
}

.modal__header {
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	font-weight: 700;
}

.modal__footer {
	border-top: 1px solid #eee;
	text-transform: uppercase;
	text-align: right;
}

.modal__btn {
	width: 100px;
	padding: 8px 15px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #333;
	font-weight: 700;
}

.modal__btn:hover,
.modal__btn:focus,
.modal__btn:active {
	background-color: transparent;
}

.modal__btn--approve {
	background-color: #eecd31;
	border: 1px solid #eecd31;
}

.modal__btn--cancel {
	background-color: #e2e7ec;
	color: #333;
}